<!-- Footer -->
	
			<div id="wrapper">
				<footer id="footer" style="margin: 0">
					<ul class="icons">
						<li><a href="https://www.instagram.com/ella___artist/" class="fab fa-instagram"></a></li>
					</ul>
				</footer>
			</div>
<div class="footer-img slideshow">
			<div id="wrapper" style="padding: 1em 0 0 0">
				<footer class="container py-5" style="padding-bottom: 0!important; padding-top: 0!important">
					<div class="row">
						<div class="col-6 col-md">
							<h5 id="white-text">Shop</h5>
							<ul class="list-unstyled text-small" style="margin: 0; font-size: 17px">
								<li><a class="text-muted" href="/type/acrylic" id="white-text">Acrylic</a></li>
								<li><a class="text-muted" href="/type/oil" id="white-text">Oil</a></li>
								<li><a class="text-muted" href="/type/charcoal" id="white-text">Charcoal</a></li>
								<li><a class="text-muted" href="/type/softpastel" id="white-text">Soft Pastel</a></li>
							</ul>
						</div>
						<div class="col-6 col-md">
							<h5 id="white-text">Service and support</h5>
							<ul class="list-unstyled text-small" style="margin: 0; font-size: 17px">
								<li><a class="text-muted" href="/delivery" id="white-text">Delivery and payment</a></li>
								<li><a class="text-muted" href="/delivery" id="white-text">Return and Exchange</a></li>
								<li><a class="text-muted" href="/offer" id="white-text">Public offer</a></li>
							</ul>
						</div>
						<div class="col-6 col-md">
							<h5 id="white-text">Other</h5>
							<ul class="list-unstyled text-small" style="margin: 0; font-size: 17px">
								<li><a class="text-muted" href="/contact" id="white-text">Contacts</a></li>
								<li><a class="text-muted" href="/commissions" id="white-text">Commissions</a></li>
							</ul>
						</div>
						<div class="col-6 col-md d-none d-lg-block d-md-block">
							<h5 id="white-text">Contact me</h5>
							<ul class="list-unstyled text-small" style="margin: 0; font-size: 17px">
								<li><a class="text-muted" href="/contact" id="white-text">helenablagojevic63@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</footer>

			</div>
</div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
		<script>
			var $nav = $("#mainNavbar");
			var $text = $(".nav-link");
			$nav.addClass("scrolled");
			$text.addClass("black-text");
    </script>
	<script>
		// This function will show the image in the lightbox
var zoomImg = function () {
  // Create evil image clone
  var clone = document.createElement("img");
  var img = document.getElementById('zoom-img'),
  style = img.currentStyle || window.getComputedStyle(img, false),
  bi = style.backgroundImage.slice(4, -1).replace(/"/g, "");
  clone.src = bi;
  clone.onload = function () {
    var imgWidth = clone.naturalWidth,
        imgHeight = clone.naturalHeight
	if(imgWidth < imgHeight){
		  clone.classList.add("height");
	}else{
		clone.classList.add("width");
	}
  }

  // Put evil clone into lightbox
  var lb = document.getElementById("lb-img");
  lb.innerHTML = "";
  lb.appendChild(clone);

  // Show lightbox
  lb = document.getElementById("lb-back");
  lb.classList.add("show");
};

window.addEventListener("load", function(){
  // Attach on click events to all .zoomD images
  var images = document.getElementsByClassName("zoomD");
  if (images.length>0) {
    for (var img of images) {
      img.addEventListener("click", zoomImg);
    }
  }

  // Click event to hide the lightbox
  document.getElementById("lb-back").addEventListener("click", function(){
    this.classList.remove("show");
  });
});
	</script>
	</body>
</html>