<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">
		<section class="main items">
			<article class="show item">
				<h5 style=" letter-spacing: 0.1rem; font-weight: 800; font-size: 28px; margin: 3em 0 0 0;">
					Helena Blagojevic
				</h5>
				<p style="font-size: 17px" class="about-text">young artist from Montenegro</p>
				<p class="about-text">
					Second year stundent on art academy. Love to paint in different tehniques. I'm doing that from early ages
				</p>
			</article>
			<article class="show item">
				<img style="width: 100%" src="https://1.bp.blogspot.com/-DD6EDLjJRWI/YInDjVHvN1I/AAAAAAAAApE/p3x2DXenu5Yz1lUPrpvX69lLmXsl5aVcgCLcBGAsYHQ/s16000/about-picture-2.jpg">
			</article>
		</section>
			<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
			
<%-include("partials/footer")%>