<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt" style="min-height: 75vh; background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiuN-m2RN9ITkP87ManMstyqmOYbAAKPppMxXniw_MT11edHSAnfhmiEA-qF7CAQFSsdBfpC7GBCBjkj2T6n6AmRAvGY0YPd2qnclEqX_M0v4kh80DWf0voWhHgGkmpO-Mwiq1DFQeLN_sf4PujgO_aKpZ8w-UvgNalWa3cY1ig5Oa9do2EWjz_SoJ3Og/s16000/20220605_213423.jpg');
		align-items: end; justify-content: end; padding: 14em 0 0 0;">
		<div class="inner">
			<h1>
				Helena Blagojević
			</h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">
		<section class="main items">
			<article class="show item">
				<h2 style=" letter-spacing: 0.1rem; font-weight: 800; margin: 0 0 2em 0;">
					Helena Blagojević
				</h2>
				<!-- <p style="font-size: 17px" class="about-text">young artist from Montenegro</p> -->
				<p class="about-text">
					Helena Blagojević was born in Cetinje in year 2000, she is a young Montenegrian visual artist who is
					mostly working in tehniques oil, soft pastel and charcoal so she can better explore the insect world
					that suits her character.
				</p>
				<p class="about-text" style="margin-top: 2em">
					Her education is currently taking place on Academy of Fine Arts in Cetinje, as she is expecting to
					graduate for bachellor degree in 2022.
				</p>
			</article>
			<article class="show item">
				<img style="width: 100%" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhjA3KlFz36FqOrulbcHfQE7NpNhhlvrHfrexWDIMN_vi5rq5uEHYONMdHNxq5Wf8Yo8FGv_Rc286Zurq2h4eoS6oU8cNPF1FsIXr4d0iv5XNBCs1rsrH88HMPcUH9YUlglbGc5mrJPfSaedU31DAWmR7m2IcDNDlvuW8tILz56BWoGuzNT5uotaTbWvQ/s16000/viber_image_2022-03-28_17-57-08-085.jpg">
			</article>
			<article class="show item">
				<img style="width: 100%" src="https://1.bp.blogspot.com/-DD6EDLjJRWI/YInDjVHvN1I/AAAAAAAAApE/p3x2DXenu5Yz1lUPrpvX69lLmXsl5aVcgCLcBGAsYHQ/s16000/about-picture-2.jpg">
			</article>
			<article class="show item">
				<div style=" letter-spacing: 0.1rem; font-weight: 800;">
					Schollarships:
				</div>
				<p class="about-text">
					Schollarship for best and talented students, Montenegro 2021. , 2020.
					<br>
					Schollarship for best students town Budva 2021. , 2020.
				</p>
				<div style=" letter-spacing: 0.1rem; font-weight: 800;">
					Awards:
				</div>
				<p class="about-text">
					Best student award for generation 2019/2020 from University of Montenegro given year 2021. 
				</p>
				<div style=" letter-spacing: 0.1rem; font-weight: 800;">
					Exibitions:
				</div>
				<p class="about-text">
					Students collective exibition in Podgorica, 2020 subject “Saving our birds”
					<br>
					Students online exibitions during covid lockdown year 2020. , 2021. 
				</p>
			</article>
		</section>
			<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
			
<%-include("partials/footer")%>