<!DOCTYPE HTML>
<html>
	<head>
		<title>Biography | Helena Blagojević Website</title>
		<meta name="description" content="The Biography of Helena Blagojević.">
<%-include("partials/header")%>

<div style="background-color: black; min-height: 100svh; background-attachment:fixed; background-position: center; background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhVObKGQ5vpNiFz0uCtSYYSEPQPrgb2LAGjn-iHI3cqFE3zusxmhZSF6zDpodw-awLHh1QU84oMkBviht9Yw2AhnfkDoCXxweLQWrL_VFliRXth4w_m1JevE4gwXimsH2-wb6zef7VpCiePWMVibyl4RK5c6Ok2yGLEvXWAPv9gTyt7DXukqe0__bIKGzQK/s16000/bio-bg.jpg');">
	<img class="title bio-main-title" style="height: 5.5em;" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhkns8S_n-p6-yWZ0HCwuGAuZMMVd4rba1Ck82gYKZhrPA4Nf3Gny36-MYzBFZkDCEJU-cMFjFuiDO4CpiQR9OAGaknu_1mT6eq6U9ngXXZOmi7x4Kwg5bHvmYa1-WfkAmfgltBXEZZXFlGM1LQGc2W96zTqUDoCkzQDkO_soeV2OR0cW45hAFKDjkVP85t/w400-h238/bio-title.PNG">

	<div class="bio-container">
		<div class="bio-part1">
			<div class="bg">
				<img class="bio-title" style="height: 5.5em;" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgymuDJALb_ZeBUAsb5v-GfepT73tWf1loLoYZcaQVRWjEz1Avb_8jZLo6WpheCyhya9UcOVH7mJ113tJmSqzmB8wKkm3i5Pgv_vgwUnWJN5ogvNSmBu_Anh8ZZAQA8F3FzJ0DtI_HZCv5HWVks9H3ARkD2mGVwf7FIUHR6AqCNAYVUVwtWm8sQAqU57kRZ/w400-h80/education-title.PNG">
				
				<p><u>2022.- 2024.</u> Master degree obtained, study program Painting, under the mentorship of Ratko Odalović,  Faculty of Fine Arts, Cetinje.<br></p>
				<p><u>2019.-2022.</u> Bachelor degree obtained, study program Painting, Faculty of Fine Arts, Cetinje</p>
				<img class="bio-title" style="height: 5.5em;" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjwFLzbtoyGTCdu6Nf2jijiCvNEnUuVeV4UsUkZ8a_QlavTMK_i8nFjbH8_iBWL5tM1rl0yZ2Z_EQPuUlo5WUF0mEWBF-5wssAvqlPRwwk4_0cMTlsiec8zpg0u4U7iEGkuxIGwyIKMvWkMCrdHlrKC6UxUf3NI5289l07bI1lIlk1OcCWS3oWZ_i4cOnk8/w400-h110/awards-title.PNG">	
				<p><u>2024.</u> Award for the best student in master studies in the field of Painting from Faculty of Fine Arts, Cetinje <br></p>
				<p><u>2023.</u> Recognition for the best student in the field of Art from the Senat of University of Montenegro. <br></p>
				<p><u>2022.</u> Award for the best student of the year from the University of Montenegro <br></p>
				<p><u>2019.</u> First prize for the portrait of Danilo Kiš, Modern Gallery, Stari Grad, Budva</p>
				
			</div>
		</div>
		<div class="bio-part2">
			<div class="bg">
				<img class="bio-title" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-Hz97qJgZqVwCLmwScFw_WC2PFpP8CrregARnGczSYkhU8rlayOyHNxO-jt4ypE9kuyf1Re5XDlHvJTeJ6WKY0VQY1ARSzf71R9-3_ZrSap2dvzQdvA_Qie1GtL7BDAsu0xhtrJCEFgYYVJ7RclTUvK84D_unmZDWe06mbIeDHonoDGJSZS-2-8yOinXx/w400-h90/exhibitions-title.PNG">
				<div>
					<p><u>2024.</u> Collective exibition on First international art salon, 40 best artists of Ex-Yugoslavia Tivat, Montenegro<br></p>
					<p><u>2024.</u> Solo exibition "Biomechanical integration" in Crvena komuna, Petrovac<br></p>
					<p><u>2024.</u> Student annual exibition,Faculty of Fine Arts, Cetinje<br></p>
					<p><u>2023.</u> Participation in the mural realization project within the complex of the Hotel "Iberostar" in Njivice, Herceg Novi.<br></p>
					<p><u>2023.</u> Participation in the mural realization project in the secondary vocational school in Cetinje.<br></p>
					<p><u>2023.</u> Student annual exhibition, Faculty of Fine Arts, Cetinje. 2022 Collective exhibition "Still life and light", Galaxy gallery, Oak Bluffs, MA, USA 2022 Collective exhibition "Celebrating the sea", Galaxy gallery, Oak Bluffs, MA, USA<br></p>
					<p><u>2022.</u> Collective exhibition at the festival "All Island art show", Oak Bluffs, MA, USA<br></p>
					<p><u>2022.</u> Student annual exhibition, Faculty of Fine Arts, Cetinje<br></p>
					<p><u>2021.</u> Collective exhibition for the "Birds of Montenegro" project, Faculty of Fine Arts, Cetinje<br></p>
					<p><u>2021.</u> Student annual exhibition, Faculty of Fine Arts, Cetinje</p>
				</div>
			</div>
		</div>
		<div class="bio-part3">
			<div class="bg">
				<img class="bio-title" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi07xo_LigEHg-qOXuIzR5UDJ-w81IxGUuIfIDBKmHwgoFkM2_cWwzIMNKrlDcrPmg4UewDET6sOWyDsqCHLFIejjrZi_UqjW6xCIGcy_vj798kBdXblhfpGkhJ9JlZ87sG8b3tOgrpBTBEqayvq-ugsRuOu2K0PhYZ9F9OjIs8H91KRXhZSyB7tpysuCdY/w400-h65/artist-title.PNG">
					<p>From solo exhibition “BIOMECHANICAL INTEGRATION” -2024<br></p>
					<p>Through biocentrism, man is part of a very complex biological system, not an individual alone in the universe. The appearance of organic forms through abstract articulations of biological forms in modern art is particularly important in the paintings, facilitating the path of experimentation with organic forms of biocenosis and biotopes in artistic representation.<br></p>
 					<p>The aspect of nature that represents biological organisms, as well as natural systems in the images, reminds and warns of the separation of man from it. The human desire for constant progress in the technological and mechanical world has distanced us from our root essence, which is that we are natural organisms, not mechanical. Today's consumerism-oriented population does not notice global natural disasters, drastic climate change, exploitation of resources, destruction of forests, and drastic reduction of flora and fauna on an annual basis. This is why it is important in art as a cultural voice to disclose such problems, in order to slowly raise people's awareness over the years about the global protection of the natural ecosystem as well as about the possible balance between mechanics and nature. This research is also related to the aspect of man's innovation of mechanics and technology, which is depicted in the image as an important inseparable part of nature. This biologically transformative process is shown in modern art through a deep and conscious consideration of nature and its processes, symbolically extracting the core from those components and going into the surreal and fantastic. This results in purely imaginative results, potentially showing us the problems of today's society. One of the directions that describes such a biologically transformative process through painting and sculpture is biomorphism. The goal is to communicate through artistic expression with my work that the permanent study of nature and its possibilities is necessary because it is the core from which all inspiration is drawn and a good concept for further understanding of our role in this world. The research is based on my artistic experimentation with biological and mechanical forms as well as finding a specific associative way to connect these forms with the imaginative fiction that surrounds them and gives a unique and authentic character to the image itself. This artistic interpretation shows the balance and inextricable connection between modern technology, mechanics, and nature.<br></p>
					<p>My previous research was based on a certain level of observation of biocenosis and biotope (eternal interconnectedness of natural processes), then a constant attempt to find the right way to associatively convey that process of metamorphosis, interaction and interweaving of living beings and their environment with mechanical elements into one dynamic harmony.</p>
			</div>
		</div>
	</div>
</div>	
			
<%-include("partials/footer-show")%>