<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

			<h2 style="text-align: center; letter-spacing: 0.175rem; margin: 2em 0 4em 0;">
				Feel free to contact me
			</h2>
		
			<h5 style="text-align: center; letter-spacing: 0.1rem;">
				Helena Blagojevic
			</h5>
		
			<p style="text-align: center; letter-spacing: 0.1rem; font-size: 21px">
				<strong>Instagram:</strong> ella___world  <br>
				<strong>E-mail:</strong> helenablagojevic63@gmail.com 
			</p>

			<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
			
<%-include("partials/footer")%>