<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt" style="min-height: 64vh; background-image: url('https://images.unsplash.com/photo-1537995194887-d8c55f662bfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80');">
		<div class="inner">
			<h1>
				Helena Blagojević
			</h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">
		<section id="intro" class="main" style="margin: 2em 0 4em 0;">
			<h2 style="text-align: center; letter-spacing: 0.175rem;">
				Feel free to contact me
			</h2>
		
			<h5 style="text-align: center; letter-spacing: 0.1rem;">
				Helena Blagojevic
			</h5>
		
			<p style="text-align: center; letter-spacing: 0.1rem; font-size: 21px">
				<strong><a href="mailto:helenablagojevic63@gmail.com" class="far fa-envelope"></a> E-mail:</strong><a href="mailto:helenablagojevic63@gmail.com">helenablagojevic63@gmail.com</a>  <br>
				<strong><a href="https://www.instagram.com/ella___artist/" class="fab fa-instagram"></a> Instagram:</strong> <a href="https://www.instagram.com/ella___artist/">ella___artist</a>
			</p>

		</section>
		<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
			
<%-include("partials/footer")%>