<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<section id="main" class="main">
			<h1 style="text-align: center">
				Delivery and payment
			</h1>
			<div id="accordion" style="margin-bottom: 3em">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Shipping company</span>
							</button>
						</h5>
					</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				  <div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div>
				</div>
				</div>
				<div class="card">
				<div class="card-header" id="headingTwo">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Cost of delivery</span>
					</button>
				  </h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				  <div class="card-body">
					The cost of the delivery service is calculated by taking into account the following parameters:<br>
					- Location of the sender and the recipient's location (every country has its own tariff zone)<br>
					- Weight of shipment<br>
					- Additional paid services (cash on delivery, insurance, customs services).
				  </div>
				</div>
				</div>
				<div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Packaging</span>
					</button>
				  </h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					For shipping I use special cardboard envelopes for items up to 30 cm and cardboard tubes for bigger sizes.
				  </div>
				</div>
				</div>
				<div class="card">
				<div class="card-header" id="headingFour">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Delivery Time</span>
					</button>
				  </h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
				  <div class="card-body">
					The order processing time is 1-2 business days. Completing and sending of orders is carried out during working hours, on weekdays from Monday to Friday, with the exception being on holidays.
					<br>
					<br>
					If your order was placed on a weekend or a holiday, or outside of working hours, it will be shipped on the next working day.
					<br>
					<br>
					Sending parcels by first class by DHL is carried out twice a week during the opening hours of post offices.
					<br>
					<br>
					Shipping time may vary depending on your location and customs processing, so I can't guarantee that items will be received by a certain date - it's out of my control. The transit time will also be affected by any busy season (e.g. Christmas) or your local holidays.
				  </div>
				</div>
				</div>
				<div class="card">
				<div class="card-header" id="headingFive">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Order Cancellation</span>
					</button>
				  </h5>
				</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
				  <div class="card-body">
					If you have not received your order or wish to cancel it, contact me via email <a href="#">helenablagojevic63@gmail.com</a> and explain your situation or problem to me.
				  </div>
				</div>
				</div>
				<div class="card">
				<div class="card-header" id="headingSix">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i><span class="text-resize">Return and exchange of goods</span>
					</button>
				  </h5>
				</div>
				<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
				  <div class="card-body">
					For all questions regarding the exchanging of goods, please contact by email at <span style="color: deepskyblue">helenablagojevic63@gmail.com</span>
					  <br>
					  <br>
					  Return of goods of proper quality is possible:
					  <br>
					  <ul>
						  <li>No later than 7 calendar days after it is received</li>
						  <li>In original packaging</li>
						  <li>In original condition</li>
					  </ul>
					  I strongly recommend checking the item upon receipt, especially before removing the original packaging.
					  <br>
					  <br>
					  Refund policy:
					  <ul>
						  <li>Once I receive your item and make sure it complies with the return policy, I will issue you a refund.</li>
						  <li>If the goods were paid for on the website by credit card or other online payment methods, the funds for the goods will be returned in the same way to the same account.</li>
						  <li>Please note that the receipt of funds may take up to 10 business days from the date it was received by me.</li>
					  </ul>
				  </div>
				</div>
				</div>
			</div>
			
			<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
		</section>

	</div>
			
<%-include("partials/footer")%>