<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<section id="main" class="main">
			<h1 style="text-align: center">
				Delivery and payment
			</h1>
			<div id="accordion">
			  <div class="card">
				<div class="card-header" id="headingOne">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					  <i class="fas fa-chevron-down" style="margin-right: 10px"></i>Shipping company
					</button>
				  </h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				  <div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="card-header" id="headingTwo">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i>Cost of delivery
					</button>
				  </h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				  <div class="card-body">
					The cost of the delivery service is calculated by taking into account the following parameters:<br>
					- Location of the sender and the recipient's location (every country has its own tariff zone)<br>
					- Weight of shipment<br>
					- Additional paid services (cash on delivery, insurance, customs services).
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i>Packaging
					</button>
				  </h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					For shipping I use special cardboard envelopes for items up to 30 cm and cardboard tubes for bigger sizes.
				  </div>
				</div>
			  </div>
			<div class="card">
				<div class="card-header" id="headingFour">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i>Delivery Time
					</button>
				  </h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
				  <div class="card-body">
					The order processing time is 1-2 business days. Completing and sending of orders is carried out during working hours, on weekdays from Monday to Friday, with the exception being on holidays.
					<br>
					<br>
					If your order was placed on a weekend or a holiday, or outside of working hours, it will be shipped on the next working day.
					<br>
					<br>
					Sending parcels by first class by Russian Postoffice is carried out twice a week during the opening hours of post offices.
					<br>
					<br>
					Shipping time may vary depending on your location and customs processing, so I can't guarantee that items will be received by a certain date - it's out of my control. The transit time will also be affected by any busy season (e.g. Christmas) or your local holidays.
				  </div>
				</div>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFour">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed shadow-none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					   <i class="fas fa-chevron-down" style="margin-right: 10px"></i>Order Cancellation
					</button>
				  </h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
				  <div class="card-body">
					If you have not received your order or wish to cancel it, contact me via email <a href="#">helenablagojevic63@gmail.com</a> or call at xxx xxx xxx and explain your situation or problem to me.
				  </div>
				</div>
			  </div>
			</div>
			</div>
		</section>

			<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
			
<%-include("partials/footer")%>