<!-- 

	<header id="header" class="alt" style="min-height: 64vh; background-image: url('https://images.unsplash.com/photo-1537995194887-d8c55f662bfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80');">
		<div class="inner">
			<h1>
				Helena Blagojević
			</h1>
		</div>
	</header>

	<div id="wrapper">
		<section id="intro" class="main" style="margin: 2em 0 4em 0;">
			<audio controls>
  				<source src="morse.mp3" type="audio/mp3"/>
  				<source src="morse.wav" type="audio/wav"/>
			</audio>
		</section>
		<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
 -->

<!DOCTYPE html>
<html>
<body>

<audio controls>
  <source src="morse.wav" type="audio/wav">
  <source src="morse.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

</body>
</html>
