<!DOCTYPE HTML>
<html>
	<head>
		<title>Gallery | Helena Blagojević Website</title>
		<meta name="description" content="Welcome to the Gallery – a curated space showcasing the artistic journey of Helena Blagojević. Explore two distinct categories: **Drawings**, where intricate lines and expressive sketches bring ideas to life, and **Paintings**, where vibrant colors and textures create captivating masterpieces. Dive into each category to discover the depth and diversity of Helena’s artistic creations.">
<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt gallery alt_fast" style="min-height: 100svh">
		<div class="inner">
			<div class="frame-pos frame">
				<a href="/type/drawing" class="button big btn-drawing btn-gallery btn-drawing-pos" style="background-size:39em;"></a>
				<a href="/type/painting" class="button big btn-painting btn-gallery btn-painting-pos" style="background-size:39em;"></a>
			</div>
			
		</div>
	</header>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
	</body>
</html>