<!DOCTYPE HTML>
<html>
	<head>
		<title>Create New Painting | Helena Blagojević Website</title>
		<meta name=”robots” content="nofollow">
<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

<!-- Wrapper -->
	<div id="wrapper">
		<section id="main" class="main">
			<header>
				<h2>Create New Painting Post</h2>
			</header>
			<form name="newPaintingForm" action="/painting" method="POST" onsubmit="return validateForm()" enctype="multipart/form-data" required>
				<input type="text" name="name" placeholder="name"><br>
				Image: <input type="file" name="image" placeholder="image" style="margin-bottom: 26px"><br>
				Small image: <input type="file" name="image_small" placeholder="small image" style="margin-bottom: 26px"><br>
				<input type="text" name="technique" placeholder="technique"><br>
				<input type="text" name="dimensions" placeholder="dimensions"><br>
				<select name="category">
					<option value="drawing">drawing</option>
					<option value="painting">painting</option>
				</select><br>
				<input type="text" name="year" placeholder="year"><br>
				<input type="submit" value="Submit">
			</form>
		</section>

		<a href="/" class="button btn--action" style="background: transparent"><span>Back</span></a>
	</div>
	<%-include("partials/footer")%>