<!DOCTYPE HTML>
<html>
	<head>
		<title>Page not Found | Helena Blagojević Website</title>
		
<%-include("partials/header")%>
<!-- Header -->
	

<!-- Wrapper -->
	<div id="wrapper" style="height: 66vh">

			<section class="main items" style="margin: 7em 0 4em -2em">
				<h1 style="text-align: center; margin: 110px;font-family: 'Sour Gummy'">
					We are sorry, the page you were looking for does not exist
				</h1>
			</section>

			<a href="/" class="button big btn-back black" style="background-size:39em;"></a>
	</div>
			
<%-include("partials/footer")%>