<%-include("partials/header")%>
<!-- Header -->
	<header id="header" class="alt slideshow" style="min-height: 64vh">
		<div class="inner">
			<img src="https://1.bp.blogspot.com/-i0cwBbkLKdo/YCwUxFEZaiI/AAAAAAAAAlY/_zgaK92z0Zsalfz00eLVwtzTuB0YTUdnQCLcBGAsYHQ/w400-h203/logo2.png" alt="" />
			<h1></h1>
		</div>
	</header>

	

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Banner -->
			<!-- <section id="intro" class="main">
				<span class="icon fa-diamond major"></span>
				<h2>Magna porta maximus</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
				malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
				mi porta egestas maximus lorem ipsum dolor.</p>
				<ul class="actions">
					<li><a href="#" class="button big">Learn More</a></li>
				</ul>
			</section> -->
		<!-- Items -->
			<% if(currentUser){ %>
				<div style="text-align: center; margin-bottom: 6rem">
					<a class="button" href="/createPainting">Create New Painting</a>
				</div>
			<%}%>
			<section class="main items">
				<article class="item shadow">
					<header>
						<a href="/type/acrylic">
							<img class="fixed" style="margin-top: -35%" src="https://1.bp.blogspot.com/-O2EW4FvkkJc/YCwVDEx7dlI/AAAAAAAAAlg/CruM7AqMygUDFjjDZhmgjZxxM6bjDJBGACLcBGAsYHQ/s16000/01.jpg" alt="" />
						</a>
						<h3 class="text-shadow">Acrylic</h3>
					</header>
					<ul class="actions">
						<li><a href="/type/acrylic" class="button">More</a></li>
					</ul>
				</article>
				<article class="item shadow">
					<header>
						<a href="/type/oil"><img class="fixed " style="margin-top: -30%" src="https://1.bp.blogspot.com/-xBCiNMEQ3ac/YCwVE2jeGMI/AAAAAAAAAlk/81c51Sa6AsQoz2IDjwyPjHDNVcDhbgIBgCLcBGAsYHQ/s16000/02.jpg" alt="" /></a>
						<h3 class="text-shadow">Oil</h3>
					</header>
					<ul class="actions">
						<li><a href="/type/oil" class="button">More</a></li>
					</ul>
				</article>
				<article class="item shadow">
					<header>
						<a href="/type/charcoal"><img class="fixed " style="margin-top: -24px" src="https://1.bp.blogspot.com/-WAxUHxghCEA/YCwVI_UHglI/AAAAAAAAAls/e_X7CCyCWUghzR5DHGZ1Izr_qsjoCW-fwCLcBGAsYHQ/s16000/04.jpg" alt="" /></a>
						<h3 class="text-shadow">Charcoal</h3>
					</header>
					<ul class="actions">
						<li><a href="/type/charcoal" class="button">More</a></li>
					</ul>
				</article>
				<article class="item shadow">
					<header>
						<a href="/type/softpastel"><img class="fixed " style="margin-top: -14%" src="https://1.bp.blogspot.com/-zQjXb_GMS_g/YCwVKmyfThI/AAAAAAAAAlw/Bl6tcKiN7-Y50QiWs_0dP21J6BNzBsI8gCLcBGAsYHQ/s1014/05.jpg" alt="" /></a>
						<h3 class="text-shadow">Soft Pastel</h3>
					</header>
					<ul class="actions">
						<li><a href="/type/softpastel" class="button">More</a></li>
					</ul>
				</article>
			</section>

		<!-- CTA -->

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->
			</div>

			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
<%-include("partials/footer")%>